/* Main CSS */

:root {
    --dark-orange: #b15701;
    --bright-blue: #009acd;
    --bright-blue-fade: #009acd55;
    --dark-blue: #00698c;
}

@font-face {
    font-family: 'Avenir';
    src: url(files/Avenir.ttc);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}
body {
    background: #fff;    
    margin:0;
}
        
h1, h2, h3, p, ul {
    font-family: 'Avenir', 'Nunito', sans-serif;
    line-height: 1.3;
}
h1 {
    font-size: 4rem;
    padding-top: 3rem;
    color: var(--bright-blue);
}
h2 {
    font-size: 1.5rem;
}
h1, h2, h3 {
    font-weight: 700;
}
p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.container a {
/*    color: var(--bright-blue);*/
    font-weight: 900;
    text-decoration: none;
}
p a{
    color: var(--bright-blue);
}
.container a:hover {
    text-decoration: underline double;
}
.container a:active {
    color:  var(--dark-blue);
}
img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit:cover;
}
img.logo{
    max-height: 10em;
    max-width: 15em;
    margin-bottom: 1em;
    padding-top: 2em;
}

div.container {
    margin: 0 auto;
    padding: 0 4em;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.script {
    font-family: 'Beloved-script', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: white;
    text-shadow: black 0px 0px 3px, var(--bright-blue) 0px 0px 12px, var(--bright-blue) 0px 0px 8px;
}
.home-title {
    font-size: 4rem;
}
.logo, .main-nav, .links {
    font-weight: 900;
    list-style: none;
    text-transform: lowercase;
    text-align: center;
}
.links {
    display: flex;
    flex-direction: row;
}
.links a{
    margin-right: 1rem;
    color: var(--bright-blue);

}
.main-nav {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    width: 100%;
    letter-spacing: 0.3rem;
}

.main-nav a {
    color: var(--bright-blue);
    text-decoration: none;
    display: block;
    padding: 1rem;
}
.main-nav a:visited, .logo a:visited {
    color: var(--bright-blue);
}

.logo a:hover {
    transition: all 0.3s ease;
    color: white;
    box-shadow: black 0px 0px 3px, var(--bright-blue) 0px 0px 12px, var(--bright-blue) 0px 0px 8px;

}
.main-nav a:hover {
    transition: all 0.3s ease;
    color: white;
    text-shadow: black 0px 0px 3px, var(--bright-blue) 0px 0px 12px, var(--bright-blue) 0px 0px 8px;
}


.card {
    box-shadow: gray 1px 1px 5px;
    margin: 5% 10% 5% 0%;
    position: relative;
    text-align: center;
    top: 0;
    background-color: var(--bright-blue-fade);
}
.card img {
    opacity: .90;
}
.card:hover img{
    opacity: .1;
    transition: all 0.2s ease;
}
.card:hover {
    background-color: var(--bright-blue);
    transition: all 0.2s ease;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card .card-text {
    color: white;
    opacity: 0%;
}
.card:hover .card-text {
    opacity: 100%;
    transition: all 0.2s ease;
}
.card:active {
    background-color:  var(--dark-blue);
}

.compare {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, auto));    
    margin-top: 2rem;
}
.compare div {
    box-shadow: gray 1px 1px 5px;
    margin: 0 2rem 5rem 0;
}
.compare h3 {
    position: relative;
    padding-top: 1rem;
    text-align: center;
}

.button {
    display: inline-block;
    font-family: 'Avenir', 'Nunito', sans-serif;
    color: white;
    font-weight: 900;
    background-color: var(--bright-blue);
    padding: .75em;
    border-radius: .35em;
    margin-top: 0.5rem;
}
.button:hover {        
    transition: all 0.2s ease;
    color:  var(--bright-blue);
    background-color: white;
    outline:  var(--bright-blue);
    outline-style: solid;
    outline-width: .2em;
    outline-offset: -0.15rem;
}
.button, a.button, a.button:hover {
    text-decoration: none;
}
.button:active {
    outline-style: inset;
    color:  var(--dark-blue);
}

.list-block {
    margin-left: 1rem;
}
.container ul {
    list-style: "»   ";
    margin-left: 1.3rem;
}
.container li {
    color: var(--bright-blue);
    font-weight: 900;
}
.container p{
    max-width: 50em;
}
li p {
    margin:  0;
    color: black;
    font-weight: 400;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, auto));
    grid-template-rows: repeat(auto-fill, minmax(25rem, auto));
}
.previews {
    display: grid;
    grid-template-columns: repeat(auto-fill, 11rem);
    margin-bottom: 1rem;
}
.previews div.card {
    height: 10rem;
}

p.preview {
    margin-bottom: 0;
}
h2.preview {
    margin-top: 2rem;
}

@media only screen and (min-width: 40em) {
  /*    NAV BAR    */
    .main-nav {
        flex-direction: row;
        justify-content: space-around;
        max-width: 40rem;
    }
    .main-nav a {
        padding: 2em;
    }
    img.logo {
        margin: 0;
    }    
}

@media only screen and (min-width: 60em) {
    /*    NAV BAR    */
    .flex-container {
        flex-direction: row;
    }
    .main-nav {
        justify-content: flex-end;
        max-width: none;
    }
    img.logo {
        padding: 1em;
    }
    
    div.container {
        max-width: 100em;
    }
}


}
